<div class="jumbotron">
  <div class="container">
    <h1>{{tag.text}}</h1>
    <p></p>
    <div>
      <button class="btn btn-primary" ng-click="edit()">Edit</button>
      <button class="btn btn-danger" ng-click="delete()">Delete</button>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
<div class="col-md-12">
<ol class="breadcrumb">
  <li><a href="#/tags">Tags</a></li>
  <li><a href="#/tags/{{tag.id}}">{{tag.text}}</a></li>
  <li class="active">Details</li>
</ol>
</div>
</div>


<div class="row">
<div class="col-md-4">
<h2>Persons</h2>
<ul class="list-group">
  <li class="list-group-item" ng-repeat="person in persons">
    <a class="badge" href="#/galleries/{{gallery.id}}?person={{person.id}}">{{person.count}}</a>
    <a href="#/persons/{{person.id}}">{{person.name}}</a>
  </li>
</ul>
<div class="alert alert-info" ng-if="persons.length === 0">There are no persons.</div>
</div>
</div>

</div>