<menu title="tag.text">
  <a href="#/tags/{{tag.id}}/details">
    <span class="glyphicon glyphicon-dashboard"></span>
    <span>Details</span>
  </a>

  <div class="dropdown" dropdown on-toggle="toggled(open)">
    <span class="dropdown-toggle" dropdown-toggle>
      <span class="glyphicon glyphicon-cog"></span>
    <span class="hidden-xs"> Options</span>
    </span>
    <ul class="dropdown-menu">
      <li><a ng-click="edit()">Edit</a></li>
      <li class="divider"></li>
      <li><a ng-click="delete()">Delete</a></li>
    </ul>
  </div>
</menu>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#/tags">Tags</a></li>
        <li><a href="#/tags/{{tag.id}}">{{tag.text}}</a></li>
        <li class="active">Details</li>
      </ol>
    </div>
  </div>

  <statistics object="tag" type="'tags'"></statistics>

</div>