<div class="jumbotron">
  <div class="container">
    <h1>{{tag.text}}</h1>
    <p></p>
    <div>
      <button class="btn btn-primary" ng-click="edit()">Edit</button>
      <button class="btn btn-danger" ng-click="delete()">Delete</button>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
<div class="col-md-12">
<ol class="breadcrumb">
  <li><a href="#/tags">Tags</a></li>
  <li><a href="#/tags/{{tag.id}}">{{tag.text}}</a></li>
  <li class="active">Details</li>
</ol>
</div>
</div>

<statistics object="tag" type="'tags'"></statistics>

</div>