<div class="jumbotron">
  <div class="container">
    <h1>{{tag.text}}</h1>
    <div>
      <a class="btn btn-info" href="#/tags/{{tag.id}}/details">Details</a>

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Options <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="edit()">Edit</a></li>
          <li class="divider"></li>
          <li><a ng-click="delete()">Delete</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">



<div class="row">
<div class="col-md-12">
<ol class="breadcrumb">
  <li><a href="#/tags">Tags</a></li>
  <li><a href="#/tags/{{tag.id}}">{{tag.text}}</a>
</ol>
</div>
</div>

<filter-information type="'tags'"></filter-information>

<div class="row">
<div class="col-md-12">

<thumbnails images="tag.images" toolbar="true"></thumbnails>

</div>
</div>

</div>