<menu images="tag.images" title="tag.text">
  <a href="#/tags/{{tag.id}}/details">
    <span class="glyphicon glyphicon-dashboard"></span>
    <span>Details</span>
  </a>

  <div class="dropdown" dropdown on-toggle="toggled(open)">
    <span class="dropdown-toggle" dropdown-toggle>
      <span class="glyphicon glyphicon-cog"></span>
      <span class="hidden-xs"> Options</span>
    </span>
    <ul class="dropdown-menu">
      <li><a ng-click="edit()">Edit</a></li>
      <li class="divider"></li>
      <li><a ng-click="delete()">Delete</a></li>
    </ul>
  </div>
</menu>

<!--<div class="jumbotron">
  <div class="container">
    <h1>{{tag.text}}</h1>
    <div>
      <a class="btn btn-info" href="#/tags/{{tag.id}}/details">Details</a>

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Options <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="edit()">Edit</a></li>
          <li class="divider"></li>
          <li><a ng-click="delete()">Delete</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>-->

<div class="container">

<div class="row">
<div class="col-md-12">
<ol class="breadcrumb">
  <li><a href="#/tags">Tags</a></li>
  <li><a href="#/tags/{{tag.id}}">{{tag.text}}</a>
</ol>
</div>
</div>

<filter-information type="'tags'"></filter-information>

<div class="row">
<div class="col-md-12">

<thumbnails images="tag.images" toolbar="false"></thumbnails>

</div>
</div>

</div>