<div class="jumbotron">
  <div class="container">
    <h1>{{person.name}}</h1>
    <p></p>
    <div>
      <a class="btn btn-info" href="#/persons/{{person.id}}/details">Details</a>

      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Options <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a ng-click="edit()">Edit</a></li>
          <li class="divider"></li>
          <li><a ng-click="delete()">Delete</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#/persons">Persons</a></li>
        <li><a href="#/persons/{{person.id}}">{{person.name}}</a>
      </ol>
    </div>
  </div>

  <filter-information type="'persons'"></filter-information>

  <div class="row">
    <div class="col-md-12">
      <thumbnails images="person.images" view="view" toolbar="true"></thumbnails>
    </div>
  </div>
</div>