<menu person="person" title="person.name" images="person.images">
  <a href="#/persons/{{person.id}}/details">
    <span class="glyphicon glyphicon-dashboard"></span>
    <span>Details</span>
  </a>

  <div class="dropdown" dropdown on-toggle="toggled(open)">
    <span class="dropdown-toggle" dropdown-toggle>
      <span class="glyphicon glyphicon-cog"></span>
      <span class="hidden-xs"> Options</span>
    </span>
    <ul class="dropdown-menu">
      <li><a ng-click="edit()">Edit</a></li>
      <li class="divider"></li> 
      <li><a ng-click="setImage()">Set Image</a>
      <li class="divider"></li>
      <li><a ng-click="delete()">Delete</a></li>
    </ul>
  </div>
</menu>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#/persons">Persons</a></li>
        <li><a href="#/persons/{{person.id}}">{{person.name}}</a>
      </ol>
    </div>
  </div>

  <filter-information type="'persons'"></filter-information>

  <div class="row">
    <div class="col-md-12">
      <thumbnails images="person.images" view="view"></thumbnails>
    </div>
  </div>
</div>