<div class="row">
  <div class="col-md-12">
    <a ng-repeat="g in galleries | orderBy:'name'" href="#/galleries/{{g.id}}">
      <div class="panel panel-default" style="width: 360px; float: left; margin-right: 10px;" ng-style="{'background': g.image_id != '0' ? 'url(/api/galleries/' + g.id + '/image?width=360&height=360) no-repeat center center' : '#CCC'}">
        <div class="panel-body" style="height: 300px">
        </div>
        <div class="panel-footer" style="opacity: 0.8;"><strong>{{g.name}}</strong></div>
      </div>
    </a>
  </div>
</div>