<div style="height: 60px; position: relative;">
  <fixed top="0" left="0" right="0">
    <div style="background: white; z-index: 1000 !important; height: 60px; border-bottom: 1px solid #ababab; width: 100%; transition: height 100ms ease-in-out; position: absolute;" id="menu">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2 style="font-style: normal; font-weight: 200; letter-spacing: -0.014em; font-size: 32px; color: #333; text-decoration: none; padding: 12px 0; margin: 0; float: left;">{{title}}</h2>   

            <!--<div class="glyphicon glyphicon-th" style="float: right; padding: 19px; height: 32px; width: 32px; font-size: 16px;" ng-click="open()"></div>-->

            <div style="float: right;" class="submenu">
              <div ng-transclude></div>
            </div>

            <div style="float: right;" class="submenu" ng-if="images">
              <div>
                <div ng-click="selectAll()" ng-select-all="images">
                  <span class="glyphicon glyphicon-check" ng-if="allSelected"></span>
                  <span ng-if="!allSelected" class="glyphicon glyphicon-unchecked"></span>
                  <span class="hidden-xs"> Select all</span>
                </div>

                <div class="dropdown" dropdown on-toggle="toggled(open)">
                  <span class="dropdown-toggle" dropdown-toggle>
                    <span class="glyphicon glyphicon-save-file"></span>
                    <span class="hidden-xs"> Download</span>
                  </span>
                  <ul class="dropdown-menu">
                    <li><a ng-click="download()">Fullsize</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="download(1920)">1920</a></li>
                    <li><a ng-click="download(1280)">1280</a></li>
                    <li><a ng-click="download(800)">800</a></li>
                  </ul>
                </div>

                <div class="dropdown" dropdown on-toggle="toggled(open)">
                  <span class="dropdown-toggle" dropdown-toggle>
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                    <span class="hidden-xs"> Options</span>
                  </span>
                  <ul class="dropdown-menu">
                    <li><a ng-click="create()">Create Gallery</a></li>
                    <li><a ng-click="addToGallery()">Add to Gallery</a></li>
                    <li class="divider"></li>
                    <li><a ng-click="addTags()">Add Tags</a></li>
                  </ul>
                </div>
              </div>
            </div>
             
          </div>
        </div>
        <div class="row" style="visibility: hidden;" class="hidden">
          <div class="col-md-12 options" style="height: 50px;">
            

          <div class="left" ng-init="view = 'preview'">
            <span class="dropdown" dropdown on-toggle="toggled(open)">
              <span class="dropdown-toggle" dropdown-toggle>
                <span class="glyphicon glyphicon-eye-open" style="margin-bottom: -1px"></span>
                <span class="hidden-xs"> View</span>
              </span>
              <ul class="dropdown-menu">
                <li><a ng-click="setView('preview')"><span class="glyphicon glyphicon-th"></span> Preview</a></li>
                <li class="divider"></li>
                <li><a ng-click="setView('details')"><span class="glyphicon glyphicon-list-alt"></span> Details</a></li>
              </ul>
            </span>
          </div>

          
          </div>
        </div>
      </div>
    </div>
  </fixed>
</div>