<div ng-init="view = 'select'">
<div class="modal-header">
  <h3 class="modal-title">Select Person <button ng-click="view = 'create'" class="btn btn-info">Create</button></h3>
</div>

<div class="modal-body" ng-if="view === 'select'">
  <div class="list-group" ng-if="users.length > 0">
    <a ng-click="select(user)" class="list-group-item" ng-repeat="user in users | orderBy:['name']">
      {{user.name}}
    </a>
  </div>
  <div ng-if="users.length === 0">There are no users.</div>
</div>

<div class="modal-body" ng-if="view === 'create'">

<input type="text" ng-model="name" class="form-control">
<button class="btn btn-default" ng-click="create(name)">Create</button>
</div>
</div>