<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Newest</h3>
      <div class="homePreview">
        <thumbnails images="newest" view="view" toolbar="false"></thumbnails>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Random</h3>
      <div class="homePreview">
        <thumbnails images="random" view="view" toolbar="false"></thumbnails>
      </div>
    </div>
    <div class="col-md-4">
      <h3>Updated</h3>
      <div class="homePreview">
        <thumbnails images="updated" view="view" toolbar="false"></thumbnails>
      </div>
    </div>
  </div>
</div>