<menu title="gallery.name" images="gallery.images">
  <div class="dropdown" dropdown on-toggle="toggled(open)">
    <span class="dropdown-toggle" dropdown-toggle>
      <span class="glyphicon glyphicon-cog"></span>
    <span class="hidden-xs"> Download</span>
    </span>
    <ul class="dropdown-menu">
      <li><a ng-click="downloadGallery()">Fullsize</a></li>
      <li class="divider"></li>
      <li><a ng-click="downloadGallery(1920)">1920</a></li>
      <li><a ng-click="downloadGallery(1280)">1280</a></li>
      <li><a ng-click="downloadGallery(800)">800</a></li>
    </ul>
  </div>


  <a href="#/galleries/{{gallery.id}}/details">
    <span class="glyphicon glyphicon-dashboard"></span>
    <span>Details</span>
  </a>

  <div class="dropdown" dropdown on-toggle="toggled(open)">
    <span class="dropdown-toggle" dropdown-toggle>
      <span class="glyphicon glyphicon-cog"></span>
    <span class="hidden-xs"> Options</span>
    </span>
    <ul class="dropdown-menu">
      <li><a ng-click="edit()">Edit</a></li>
      <li><a ng-click="preload()">Preload</a></li>
      <li class="divider"></li>
      <li><a ng-click="delete()">Remove selected Images</a></li>
      <li><a ng-click="changeGalleryImage()">Set Gallery Image</a></li>
      <li class="divider"></li>
      <li><a ng-click="deleteGallery();">Delete</a></li>
    </ul>
  </div>
</menu>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#/galleries">Galleries</a></li>

        <li ng-repeat="g in gallery.parents | orderBy:'-order'"><a href="#/galleries/{{g.id}}">{{g.name}}</a></li>

        <li><a href="#/galleries/{{gallery.id}}">{{gallery.name}}</a></li>
      </ol>
    </div>
  </div>

  <div class="row" ng-if="gallery.galleries.length > 0">
    <div class="col-md-12">
      <galleries galleries="gallery.galleries"></galleries>
    </div>
  </div>

  <filter-information type="'galleries'"></filter-information>

</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">

      <thumbnails images="gallery.images" view="view" toolbar="false"></thumbnails>

    </div>
  </div>

</div>
</div>
<span us-spinner="{color: black}" spinner-key="browse"></span>