<div ng-init="overview = false">
  <menu title="'Galleries'">
    <div ng-click="create()">Create</div>
    <div ng-click="overview = !overview">Overview</div>
  </menu>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="breadcrumb">
          <li><a href="#/galleries">Galleries</a></li>
        </ol>
      </div>
    </div>

    <div ng-if="overview">
      <script type="text/ng-template" id="field_renderer.html">
        <a href="#/galleries/{{gallery.id}}">{{gallery.name}}</a>
        <ul>
          <li ng-repeat="gallery in gallery.galleries | orderBy:'name'" ng-include="'field_renderer.html'"></li>
        </ul>
      </script>
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li ng-repeat="gallery in galleries | orderBy:'name'" ng-include="'field_renderer.html'"></li>
          </ul>  
        </div>
      </div>
    </div>

    <div ng-if="!overview">
      <div class="row" ng-if="galleries.length > 0">
        <div class="col-md-12">
          <galleries galleries="galleries"></galleries>
       </div>
    </div>
  </div>
</div>