
<div class="jumbotron">
  <div class="container">
    <h1>Random</h1>
    <div>
      <a class="btn btn-primary" href="#/random">All</a>
      <a class="btn btn-primary" href="#/random?used=true">Marked</a>
      <a class="btn btn-primary" href="#/random?used=false">Not marked</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/random">Random</a>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <thumbnails images="images" toolbar="true"></thumbnails>
    </div>
  </div>
</div>