
<div class="jumbotron">
  <div class="container">
    <h1>Trash</h1>
    <div>
      <btn class="btn btn-primary" ng-click="delete()">Delete</btn>
      <btn class="btn btn-primary" ng-click="restore()">Restore</btn>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ol class="breadcrumb">
        <li><a href="#/">Home</a></li>
        <li><a href="#/trash">Trash</a>
      </ol>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <thumbnails images="images" toolbar="true"></thumbnails>
    </div>
  </div>
</div>